name: pr-lint

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches: [develop, main]

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: "lts/*"

      - name: Install commitlint
        run: npm i -D @commitlint/cli @commitlint/config-conventional

      - name: Validate PR title
        run: |
          TITLE="${{ github.event.pull_request.title }}"
          echo "PR title: $TITLE"
          echo "$TITLE" | npx commitlint --verbose --extends @commitlint/config-conventional

      - name: Validate PR commits
        run: |
          npx commitlint \
            --from ${{ github.event.pull_request.base.sha }} \
            --to   ${{ github.event.pull_request.head.sha }} \
            --verbose
