name: commitlint

on:
  pull_request:
    branches: [ develop ]
  push:
    branches: [ develop ]

permissions:
  contents: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v6.0.2
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          fetch-depth: 0

      # https://github.com/actions/setup-node/releases/tag/v6.2.0
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: "lts/*"

      - name: Install commitlint
        run: |
          npm install -D \
            @commitlint/cli \
            @commitlint/config-conventional

      - name: Validate PR commits
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

      - name: Validate commints since the most recent commit before the push
        if: github.event_name == 'push'
        run: npx commitlint --from ${{ github.event.before }} --to ${{ github.sha }} --verbose
