name: Install Flutter

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  install:
    name: Install (matrix)
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Install Flutter
        uses: ./.github/actions/install-flutter
        with:
          flutter-version: "3.41.1"

      - name: flutter --version
        shell: bash
        run: |
          flutter --version
